body {
  font-family: serif;
}

h1 {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 5%;
    width: 100%;
}

.table{
  display: table;
}

.rawtextarea-div {
  border: solid;
}

.readytextarea-div {
  border: solid;
}